{% extends 'base.html.twig' %}

{% block title %}Association - OpaleBD{% endblock %}

{% block script %}<link rel="stylesheet" href="{{ asset('assets/css/association.css')}}">{% endblock %}

{% block content %}

	<h2 class="text-center mb-5">L'association:</h2>
    <img src="/assets/img/logo/logo_opalebd.png" class="mx-auto d-block mb-5">
	<div class="row">
		<p class="text-center mx-auto w-75 mt-3 mb-5 fs-5">Si on devait définir le site Internet OPALEBD.COM, la meilleure définition serait celle-ci : 
			« Opale BD est un portail de référencement de tous les évènements liés au secteur du livre dans toutes l’Europe francophone 
			(France, Belgique, Suisse, Luxembourg et aussi les Pays-Bas) ». <br> Quand on parle d’évènements, c’est bien entendu au sens large puisqu’Opale BD réfé-rence 
			TOUS les festivals de Bandes Dessinées, toutes les conventions fantastiques, féériques et geek, tous les salons du livre jeunesse, 
			tous les salons liés à la culture japonaise ou au manga mais aussi les salons de littérature générale, les salons du Polar, 
			les salons liés aux dessins de presse ou à la caricature et également les bourses de livres.</p>
	</div>



    <h2 class="text-center mt-5 mb-5">Le créateur et webmaster:</h2>
    <img src="/assets/img/webmaster/bruno.jpg" class="webmaster rounded mx-auto d-block mb-5" style="width: 20vw">
    <div class="row">
        <p class="text-center mx-auto w-75 mt-3 mb-5 fs-5">
            //Description à venir// 
            <br>
            <b>Contact:</b> Bruno LEMAITRE - 06.18.36.56.55 - bruno.lemaitre@laposte.net
        </p>
    </div>

{% endblock %}
