.titre {
    color: #00A9D2;
    font-family: 'GROBOLD';
    font-size: 2.5rem !important;
}

.bg-custom {
    background-color: #FFA707 !important;
}

@media screen and (max-width:900px){
.table {
    display: none;
    }
}
@media screen and (min-width:900px){
.table-responsive {
    display: none;
    }
}